.container {
  height: 100%;
  width: 480px;
  background-color: white;
  margin: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 2px 2px black;
  color: black;
  font-size: 1rem;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.title {
  padding: 0.5rem 0;
  margin: 0;
  border-bottom: 1px solid lightgray;
  font-size: 1.25rem;
}
.content {
  flex: 1;
  overflow-y: scroll;
}
.footer {
  padding: 0.5rem 0;
  border-top: 1px solid lightgray;
}
.centerText {
  text-align: center;
}
